name: Build and publish Docker image
on: [push, workflow_dispatch]

env:
  REGISTRY: ghcr.io
  # make sure the name is lowercase, otherwise Docker won't accept it
  IMAGE_NAME: theassassin/docker-phpvirtualbox

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write

    steps:
      - uses: actions/checkout@v5

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Templatize Dockerfile
        run: |
          cp Dockerfile.cross Dockerfile
          sed -i.bak 's|__BASEIMAGE_ARCH__/||' Dockerfile
          sed -i.bak 's|^__CROSS_COPY.*||' Dockerfile

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: |
            linux/amd64
